@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
*
{
  margin: 0;
  padding: 0;
}

body
{
  scroll-behavior: smooth;
    font-family: 'Balsamiq Sans', cursive;
}
/* navbar */

.maincontainer
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}
.maincontainer1
{
    height: 9rem;
    width: 50rem;
	  box-shadow: 0 0 3rem 1.1rem rgba(107, 107, 107, 0.3);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
}

.container1
{
    height: 9rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgb(241, 241, 241);

    
}
.logoimage
{
    box-sizing: border-box;
    padding: 0.5rem;
    width: 10rem;
    height: auto;
    overflow: hidden;
}
.iconbar
{
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    max-width: 100%;
    z-index: 2;
    align-items: center;
    text-align: right;
    right: 0.6rem;
    top: -2.8rem;
    justify-content: flex-end;
    user-select: none;
    position: relative;
    max-height: 62px;
    cursor: pointer;
}
.css-icon1
{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0px ;
    padding: 0.5rem;
    height: auto;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(199, 199, 199);
}
form {
    background-color: #eeeef1;
    width: 80%;
    height: 3rem;
    position: relative;
    left: 0.6rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 1rem 0.3rem rgba(107, 107, 107, 0.3);

  }
  input {
    all: unset;
    font: 16px system-ui;
    color: rgb(139, 135, 135);
    height: 100%;
    width: 100%;
    padding: 0.6rem 1rem;
  }
  ::placeholder {
    color: rgb(124, 122, 122);
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 4.4rem;
    height: 4.4rem;
  }
  
  svg {
    color: rgb(70, 69, 69);
    fill: currentColor;
    width: 4.4rem;
    height: 2.4rem;
    padding: 1.5rem;
  }
  .words
  {
    box-sizing: border-box;
    font-style: italic;
    padding: 0;
    max-width: 100%;
    flex-shrink: 0;
    align-items: center;
    width: auto;
    top: -2.3rem;
    left: 9rem;
    user-select: none;
    justify-content: flex-start;
    position: relative;
    order: 0;
    max-height: 6.2rem;
    color: rgb(143, 142, 140);
  }
  /* end of navbar */

  /* Sentence words component */
  .maincontainer2
  {
    margin-top: 10rem;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .mainbox
  {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      height: 3rem;
  }
  .box01
  {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;
    height: 3rem;
  }
  .box02
  {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    height: 3rem;
  }
  .box1
  {
    display: flex;
    align-items: center;
    justify-content: end;
    
    width: 40%;
    height: 3rem;
    opacity: 0.7;
  }
  .box2
  {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;
    height: 3rem;
    opacity: 0.7;
  }
  .example
  {
    padding: 0.3rem;
    width: 20rem;
    height: 1.5rem;
    border: 0.1rem solid gray;
    border-radius: 0.4rem;
  }
  .example:hover
  {
    background-color: rgb(226, 225, 225);
  }
  .italic
  {
    font-style: italic;
  }
  .bluehighlight
  {
    color: blue;
    padding: 0.2rem;
    background-color: rgb(163, 175, 248);
    border-radius: 0.2rem;
    
  }
  .bluehighlight:hover
  {
    background-color: rgb(58, 104, 255);
  }
    /* end Sentence words component */

    /* About Ludwig */
  .maincontainer3
  {
    box-sizing: border-box;
    background-color: rgb(255, 219, 133);
    display: flex;
    height: 20rem;
    text-align: left;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .words1
  {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .box03
  {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
    height: 20rem; 

  }
  .box04
  {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 45%;
    height: 20rem; 

  }
  .box4
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.9rem;
    height: 15rem; 
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem 0.7rem rgba(107, 107, 107, 0.3);
  }
  .ludwigvideo
  {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 96%;
    height: 14rem; 
    border-radius: 1rem;

  }
  .box3
  {
    display: flex;
    flex-direction: column;
    width: 30.9rem;
    height: 17rem; 
    font-size: 1.1rem;
    opacity: 0.88;
    font-family: 'Playfair Display', serif;
  }
  .ludwigword
  {
    font-size: 2.4rem;
    opacity: 1;
    font-family: 'Playfair Display', serif;
  }
/* end of about ludwig */
/* ludwig promo */

  .maincontainer4
  {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    height: 7rem;
  }
  .box05
  {
    display: flex;
    width: 50%;
    height: 7rem;
  }
  .box05
  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
  }
  .box06
  {
    display: flex;
    width: 50%;
    height: 7rem;
    flex-wrap: wrap;
  }
  .box6
  {
    display: flex;
    width: 80%;
    height: 7rem;
    flex-wrap: wrap;
  }
  .subbox6
{
  display: flex;
  width: 31.8%;
  height: 3rem;
}
  /* end of ludwig promo */

  /* start of platform */
  .maincontainer8
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 8rem;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
  }
  .box07
  {
    display: flex;
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  .box08
  {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
  }
.box8
  {  
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
  }
  .subbox8
  {
    display: flex;
    width: 30%;
    height: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .platformphoto
  {
    width: 8rem;
    height: 1.5rem;
  }
  /* end of platform */

  /* start of users */
  .maincontainer7
  {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .box09
  {
    display: flex;
    width: 32.5%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .box9
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: auto;
  }
  .userswords
  {
    font-size: 240%;
    font-weight: 600;
    position: relative;
    left: 1rem;
    font-family: 'Sarabun', sans-serif;

  }
  .userswords1
  {
    font-size: 150%;
    font-weight: 400;
    position: relative;
    left: 1rem;
    font-family: 'Sarabun', sans-serif;

  }
  /* end of users */

  /* ludwig download */
  .maincontainer6
  {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    background-color: #409cff;
  }
  .box010
  {
    width: auto;
    height: auto;
  }
  .box011
  {
    display: flex;
    padding: 1rem;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    font-family: 'Playfair Display', serif;

  }
  .box11
  {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 1.2rem;
    width: 80%;
    height: 100%;
    font-family: 'Playfair Display', serif;

  }
  .middletext
  {
    color: white;
  }
  .box10
  {
    width: auto;
    height: auto;
  }
  .buttondownload
  {
    padding: 0.8rem;
    color: #fff;
    width: 9rem;
    border-radius: 2rem;
    background-color: rgb(20, 117, 243);
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: 'Sarabun', sans-serif;
  }
  .imagedownload
  {
    width: 100%;

  }

 /* end of ludwig download */
  
 /* testimonial */
 .maincontainer5
 {
   margin-top: 2rem;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: auto;
   background-color: rgb(235, 235, 235);
 }
 .box012
 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 4rem;
   font-size: 1.2rem;
   font-weight: 900;
   font-family: 'Playfair Display', serif;
 }

 .box013
 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
}
  .box13
  {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  .subbox013
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    height: 12rem;
    font-size: 0.8rem;
  }
  .subbox13
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 0.7rem;
  }
  .subbox130
  {
    width: 17rem;
    padding: 0.5rem;
    font-size: 0.7rem;
    height: 3rem;
    color: rgb(113, 112, 114);
    font-family: 'Balsamiq Sans', sans-serif;
    border-radius: 0.4rem;
    background-color: #fff;
    border: 0.1px solid rgb(206, 205, 205);
  }
  .testiimage
  {
    width: 2rem;
    height: 3rem;
    border-radius: 50%;
  }
 /* end of testimonial */
 
  /* footer */
  .maincontainer9
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .box015
  {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 26rem;
  }
  .box15
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 26rem;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
  }

  .box016
  {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200%;
    height: 26rem;
    border: 5px solid rgb(7, 67, 196);
  }
  .box014
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 4rem;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
  }
  .box0141
  {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 60%;
    height: 4rem;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
  }
  .box0142
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 4rem;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
  }
  .termsbtn 
  {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 6rem;
  }
  .termsbtn:hover
  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 227, 227);
    height: 3rem;
    width: 6rem;
    border-radius: 6rem;
  }
  .languagebtn
  {
    cursor: pointer;
    font-size: 1.1rem;
    width: 6.3rem;
    height: 2rem;
    border-radius: 0.4rem;
    padding: 0.3rem;
    background-color: rgb(158, 185, 235);
  }
  .signin
  {
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.4rem;
    font-size: 1.1rem;
    color: white;
    width: 8rem;
    background-color: rgb(95, 144, 235);
    border-radius: 2rem;
  }
  .signin
  {
    display: flex;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: white;
    width: 10rem;
    background-color: rgb(95, 144, 235);
    border-radius: 2rem;
  }


  /* end of footer */
  @media screen and (min-width:200px) and (max-width:768px){
    .maincontainer1
    {
      margin-top: -1.2rem;
      width: 97%;
    }
    .words
    {
      display: none;
    }
    .logoimage
    {
      width: 13rem;
    }
    .maincontainer2
    {
      flex-direction: column;
      height: auto;
    }
    .box01,.box02
    {
      width: 100%;
      justify-content: center;
    }
    .box1,.box2
    {
      width: 100%;
      justify-content: center;
    }
    .mainbox
    {
      flex-direction: column;
      height: auto;
    }
    .ludwigword
    {
      font-size: 1.4rem;
    }
    .box3
    {
      font-size: 0.9rem;
    }
    .maincontainer4
    {
      flex-direction: column;
    }
    .box06
    {
      width: 100%;
    }
    .box6
    {
      width: 100%;
    }
    .box05
    {
      width: 100%;
      font-size: 150%;
    }
    .maincontainer3
    {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .maincontainer8
    {

      height: auto;
    }
    .box8
    {
      height: auto;
      flex-wrap: wrap;
    }
    .box08
    {
      height: auto;
      flex-wrap: wrap;
    }
    .subbox8
    {
      width: 40%;
    }
  .maincontainer7
  {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box09
  {
    width: 100%;
  }

  .maincontainer6
  {
    flex-wrap: wrap-reverse;
  }
  .box011
  {

    width: 100%;
  }
  .box11
  {
    align-items: center;
    width: 100%;
    font-size: 1rem;
  }
  .users3sentence
  {
    font-size: 1rem;
  }
  .maincontainer5
  {
    margin-top: 5rem;
  }
  .box012
  {
    font-size: 0.8rem;
  }
  .box014
  {
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
  }
  .box0141
  {
    font-size: 0.8rem;
    width: 70%;
  }
  .box0142
  {
    flex-wrap: wrap;
    width: 70%;
    height: auto;
  }
  .box15
  {
    width: 100%;
    height: auto;
  }
  .signin
  {
    font-size: 0.5rem;
    width: 40%;
  }
  
 
  }
